![sql](img/sql-logo.jpg)

# A guide to databases, SQL, & using them with `pandas`

Let's start with Peter Bell's great blog piece [on relational databases](https://flatironschool.com/blog/an-introduction-to-the-relational-database).

Themes:
- Structured vs. Unstructured Data
- Records (Rows) in Tables in Databases
- Eliminating Redundancy

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Group Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

This sort of picture is sometimes called an **E**ntity **R**elationship **D**iagram. [Here](https://www.smartdraw.com/entity-relationship-diagram/) is another good resource for explaining typical ERD conventions.

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## Goal 3: Get going with sqlite!

In [ ]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [ ]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [ ]:
cursor.execute(
"""
SELECT name
FROM sqlite_master
WHERE type='table';
"""
)
print(cursor.fetchall())

For more on "sqlite_master", see [here](https://www.techonthenet.com/sqlite/sys_tables/index.php).

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [ ]:
cursor.execute(
"""
SELECT *
FROM airports
"""
)

#### Use description

In [ ]:
cursor.description

The septuple structure has to do with Python API [compatibility issues](https://kite.com/python/docs/sqlite3.Cursor.description).

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`. The latter takes a number of records to return as a parameter.

In [ ]:
cursor.fetchmany(10)

**Task:** Get the descriptive data for airlines and routes tables

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**SELECT**

**FROM**

**WHERE**

**GROUP BY**

**ORDER BY**

**LIMIT**

#### Options for each:

**Select**:  `DISTINCT`, using `AS` to rename columns, single number aggregates, `COUNT()` to count, `*` for "all"

**From:** also uses aliasing with `AS`

**Where**: `=`, `BETWEEN`, `IN`, wildcards with `%`, `AND`, `OR`, `NOT` pattern matching with `LIKE` and `ILIKE`

**Order by**: `ASC` and `DESC`

**Limit**:  #

***

**Task**: 
- Select only active airlines in the United Kingdom from the airlines table <br/>
Hint: The values for 'active' are 'Y' and 'N'.
- Select the unique list of countries with airports

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table. <br/>
Hint: Which column can serve as the link between the two tables? That is, which column in `airports` can serve as foreign key to `routes`?

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest numbers of active airlines?
- Which countries have the highest numbers of inactive airlines?
- What about airports by time zone?

In [ ]:
cursor.execute(
"""
SELECT COUNT() num, country
FROM airlines
WHERE active='Y'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30
"""
).fetchall()

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/\
views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

In [ ]:
shelter_data[shelter_data['Name'] == "Max"].head()

In [ ]:
# With .query()

max_data = shelter_data.query('Name == "Max"')
max_data.head()

## Goal 6: Transfering from sqlite to pandas

`.read_sql_query()`

In [ ]:
import pandas as pd

conn = sqlite3.connect("flights.db")
df = pd.read_sql_query("SELECT * FROM airports LIMIT 50", conn)
df

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

## On Your Own

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [ ]:
# Getting Started

con = sqlite3.connect('Chinook_Sqlite.sqlite')

In [ ]:
cursor2 = con.cursor()

In [ ]:
cursor2.execute(
"""
SELECT tbl_name
FROM sqlite_master
WHERE type='table'
"""
)

In [ ]:
cursor2.fetchall()